

{{ define "main" }}

<style>
body {background-color:  #fceba8 ;}
h1, h2, h3, h4   {color: blue;  }	
p    {color: black; }
 
</style>

  <main class="content page-template page-{{ .Slug }}" role="main">
   
        
    <article class="post page">        
   
      <div class='post'>
          
      <br> <br> 
      <h1 class="post-title">{{ .Title }}</h1> 
          
             <a href="{{ "/" | relURL }}"> <img src="/images/S0_RGB_02_all_purple.svg"  class="topMenuLeftImage"  ></a>
     <br> <br>  
            We are so sorry. Something went wrong. That page is not here.<br>
         or maybe temporarily having a rest.<br>
         anyways.... be patient. 
         <img   src="images/S0_web_header_1x1.svg"  > </img> 
    </div>
    </article>
  </main>
{{ end }}

