

{{ define "main" }}

<style>
body {background-color:  #fceba8 ;}
h1, h2, h3, h4   {color: blue;  }	
p    {color: black; }
 
</style>

  <main class="content page-template page-{{ .Slug }}" role="main">
   
        
    <article class="post page">        
   
      <div class='post'>
          
      <br> <br> 
      <h1 class="post-title">{{ .Title }}</h1> 
          
             <a href="{{ "/" | relURL }}"> <img src="{{.Site.BaseURL}}/images/S0_RGB_02_all_purple.svg"  class="topMenuLeftImage"  ></a>
     <br> <br>  
            We are so sorry. Something went wrong. <br>That page is not here.  or maybe temporarily having a rest. 
         Anyways....<br>
         Please be patient with us. 
         <img   src="/images/S0_web_header_16x9.svg"  > </img> 
    </div>
    </article>
  </main>
{{ end }}
 