{{ define "main" }}
{{ $headless := .Site.GetPage "/homepage" }}
{{ $sections := $headless.Resources.ByType "page" }}
{{ $sections := cond .Site.BuildDrafts $sections (where $sections "Draft" "==" false) }}

<style>
  #site-head {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 240px;
    padding: 15% 0;
    height: 10%;
    margin-bottom: 0rem;
  }
</style>

<header id="site-head"  > 
	<img  class="topMenuLeftImage" src="/images/S0_RGB_02_all_purple.svg"  > </img>
	<h4  class="QAHeader"> Burning questions </h4> 

	<img  class="QAImage"   src="/images/S0_web_faq.svg"  > </img>   
	<div class="vertical"> 

		<div id="site-head-content" class="site-head-content">   
			{{ with .Params.header_headline }}<h2 class="QAtitle">{{ . }}</h2>{{ end }}  
			{{ with .Params.header_subheadline }}<h2 class="blog-description">{{ . }}</h2>{{ end }} 

	 	</div> 

 </div>

</header>

<main class="content" role="main"> 
 
		 <div class='post-holder'>
			 <article id='{{ anchorize .Title }}' class='post '>
  			    <section class="post-content">
					<a href="{{ .Permalink }}" class="text-center main-font main-color-font" style="cursor: pointer;">{{ .Title }}</a>
					 <p> {{ .Content }}</p>  
				 </section> 
            </article>
			 <div class='post-after'></div>  <div class='post-holder'>
 
		
 
     <div class='fixed-nav'>  </div>
    {{ range first 5 (where .Site.RegularPages "Section" "in" "qs") }}
	 
		 <div class='post-holder'>
			 <article id='{{ anchorize .Title }}' class='post '>
  			    <section class="post-content">
					<a href="{{ .Permalink }}" class="text-center main-font main-color-font" style="cursor: pointer;">{{ .Title }}</a>
					 <p>{{ .Summary }}</p>  
				 </section> 
            </article>
			 <div class='post-after'></div>  <div class='post-holder'>
	{{ end }} 
       
 
                
</main>
{{ end }}

